.home
    height 100%
    background-image url('../../assets/img/background.jpg')
    background-repeat no-repeat
    background-attachment fixed
    background-position center 
    display grid
    grid-template-colums repeat(3, 1fr)
    grid-template-rows repeat(3, 1fr)
    .left-center-div
        grid-column 1
        grid-row 2
        font-size 3vw
        font-style oblique
        display flex
        text-align center
        justify-content: center
        align-items: center
        color rgba(0,0,0,0)
    .center-div
        grid-column 2
        grid-row 2
        font-size 3vw
        font-style oblique
        display flex
        text-align center
        justify-content: center
        align-items: center
        background-color rgba(0,0,0,0.5)
        color white
    .right-center-div
        grid-column 3
        grid-row 2
        font-size 3vw
        font-style oblique
        display flex
        text-align center
        justify-content: center
        align-items: center
        color rgba(0,0,0,0)
    .lower-right-div
        grid-column 3
        grid-row 3
        font-size 1.4vw
        color white
        display flex
        text-align center
        justify-content: center
        align-items: center